<form id="editForm" method="post" action="/login-submit/" enctype="multipart/form-data">
            <label>
                username:
                <br />
                <input id="username" name="submit-username" type="login" />
            </label>
            <br />
            <label>
                password:
                <br />
                <input id="password" name="submit-password" type="password" />
            </label>
            <button type="submit" name="id" value={{id}}>Login</button>
        </form>